@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 8px;
  
}
::-webkit-scrollbar-thumb {

  background-color: #291334;
  border-radius: 8px;

}
::-webkit-scrollbar-track {

  background-color: #faf7f5;
}


